.buyPancakeSwapSection {
    margin-left: auto;
     /*margin-right: 20%;*/
     margin-right: 57%;
     /* float: right; */
     padding-top: 80px;
     padding-bottom: 500px;
     width: 20%;
  }
  
  .spacerForBuyPancakeSwapSection {
    padding-top: 300px;
  }
  