.buyPresaleSection {
    margin-left: auto;
    /*margin-right: 20%;*/
    margin-right: 55%;
    /* float: right; */
    padding-top: 80px;
    padding-bottom: 500px;
    width: 35%;
  }
  
  .spacerForBuyPresaleSection {
    padding-top: 100px;
  }
  
  .insideCardForPresale {
    text-align: center;
  }
  
  .spacerForCardBuyPresaleSection {
    padding-top: 20px;
  }
  
  .presaleIsLiveHeader {
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
  }
  
  .presaleRate {
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    color: gold;
  }

  .maxMinOrbWarning{

    font-size: 1.5vw;
    
  }
