.buyPancakeSwapSection {
    margin-left: auto;
    margin-right: 0%;
    /* float: right; */
    padding-top: 100px;
    padding-bottom: 500px;
    width: 40%;
  }
  
  .spacerForBuyPancakeSwapSection {
    padding-top: 200px;
  }
  