.faqSection {
    margin-left: auto;
    /*margin-right: 8%;*/
    margin-right:45%;
  
    /* margin-left: 10%;
    margin-right: auto; */
  
    /* float: right; */
    padding-top: 100px;
    padding-bottom: 500px;
    width: 40%;
    font-family: 'Quicksand', sans-serif!important;
    color:white;
  }
  
  .spacerForFAQsections {
    padding-top: 25px;
  }



  
.faq-header{
    font-size: 32px;
    border-bottom: 1px dotted #ccc;
    padding: 24px;
  }
  
  .faq-content {
    margin: 0 auto;
  }
  
  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }