.spacerForHomesection {
  padding-top: 10%;
}

.homeSection {
  margin-left: 10%;
  /*margin-right: 11%;*/
  /* margin-right: 50%; */
  /* margin-left: 10%;
    margin-right: auto; */
  /* float: right; */
  padding-top: 100px;
  padding-bottom: 500px;
  width: 60%;
}

.insideCardForHome {}

.orbHomeHeadline {
  font-family: 'Monsterrat', sans-serif;
  color: #ffa500;
  font-size: 2.5vw;
}

.orbHomeText {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 2vw;
}

.boldedFarm {
  font-weight: 700;
  color: rgb(238, 255, 0);
}







