.spacerForSocialsSection {
    padding-top: 225px;
  }

  .socialsSection {
    margin-left: 10%;

    /* float: right; */
    padding-top: 100px;
    padding-bottom: 500px;
    width: 50%;
  }


  .socials-header{
    font-size: 2vw;
    color: #ccc;
    /* border-bottom: 1px dotted #ccc; */
    padding: 24px;
  }



.button-demo .p-button {
    margin-right: 0.5rem;
}
.button-demo .p-buttonset .p-button {
    margin-right: 0;
}
.button-demo .templateForButtons .p-button i {
    line-height: 1.25rem;
}


.button-demo .templateForButtons .p-button.discord {
    background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--bluegray-800);
}
.button-demo .templateForButtons .p-button.discord:hover {
    background-position: left bottom;
}
.button-demo .templateForButtons .p-button.discord i {
    margin-right: 5px;
}
.button-demo .templateForButtons .p-button.discord:focus {
    box-shadow: 0 0 0 1px var(--bluegray-500);
}



.button-demo .templateForButtons .p-button.twitter {
    background: linear-gradient(to left, var(--blue-400) 50%, var(--blue-500) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--blue-500);
}
.button-demo .templateForButtons .p-button.twitter:hover {
    background-position: left bottom;
}
.button-demo .templateForButtons .p-button.twitter i {
    margin-right: 5px;
}
.button-demo .templateForButtons .p-button.twitter:focus {
    box-shadow: 0 0 0 1px var(--blue-200);
}


.button-demo .templateForButtons .p-button.telegram {
    background: linear-gradient(to left, var(--blue-700) 50%, var(--blue-800) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--blue-800);
}
.button-demo .templateForButtons .p-button.telegram:hover {
    background-position: left bottom;
}
.button-demo .templateForButtons .p-button.telegram i {
    margin-right: 5px;
}
.button-demo .templateForButtons .p-button.telegram:focus {
    box-shadow: 0 0 0 1px var(--blue-700);
}




.button-demo .templateForButtons .p-button.reddit {
    background: linear-gradient(to left, var(--pink-700) 50%, var(--pink-800) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--pink-800);
}
.button-demo .templateForButtons .p-button.reddit:hover {
    background-position: left bottom;
}
.button-demo .templateForButtons .p-button.reddit i {
    margin-right: 5px;
}
.button-demo .templateForButtons .p-button.reddit:focus {
    box-shadow: 0 0 0 1px var(--pink-700);
}



@media screen and (max-width: 960px) {
    .button-demo .p-button {
        margin-bottom: 0.5rem;
    }
    .button-demo .p-button:not(.p-button-icon-only) {
        display: flex;
        width: 100%;
    }
    .button-demo .p-buttonset .p-button {
        margin-bottom: 0;
    }
}