
.stakeSection {
    margin-left: auto;
    /*margin-right: 15%;*/
    margin-right: 50%;
    /* float: right; */
    padding-top: 100px;
    padding-bottom: 500px;
    width: 30%;
  }
  
  .spacerForStakeSection {
    padding-top: 175px;
  }
  
  .insideCardForStake {
    text-align: center;
  }
  
  .stakingIsLiveHeader {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .labelsForAmountStaked {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .apyAmountHeader {
    color: gold;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .orbStakedDiv {
    text-align: left;
    margin: 10px;
    padding-left: 130px;
  }
  
  .orbOwnedDiv {
    text-align: left;
    margin: 10px;
    padding-left: 130px;
  }
  
  .orbGeneratedDiv {
    text-align: left;
    margin: 10px;
    padding-left: 130px;
  }
  
  .labelsForORBtoStakeAmount {
    font-size: larger;
  }
  
  .stakeButtonDiv {
    margin: 30px;
    display: inline;
  }
  
  .unstakeButtonDiv {
    margin: 30px;
    display: inline;
  }


  .timeUntilUnlockDiv {
    text-align: left;
    margin: 10px;
    padding-left: 75px;
  }
  
  .stakeStartDateDiv {
    text-align: left;
    margin: 10px;
    padding-left: 75px;
  }
  
  .unlockDateDiv {
    text-align: left;
    margin: 10px;
    padding-left: 75px;
  }