.whitepaperSection {
    margin-left: auto;
    margin-right: 50%;
    padding-top: 100px;
    padding-bottom: 500px;
    width: 40%;
    font-family: 'Quicksand', sans-serif!important;
    color: red;
    text-shadow: 2px 2px black;
}

.spacerForWhitepaperSection {
    padding-top: 50%;
}


.whitepaperContent {
    font-size: 16px;
    text-shadow: 2px 2px black;
    padding: 10px;
}

.orWhitePaperSection{
    margin-left: 15%;
    color: lightseagreen;
    text-shadow: 2px 2px black;
    font-size: 6vw;
}