html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
    font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C5CBE3;
}



body {
  /* width: 100vw; */
  /* width: 100%; */
  /* height: 100vh; */
  /* margin: 0; */
  /* overflow: hidden; */
  /* overflow-x:hidden */

  display: flex;
  overflow-x: hidden;
  /* white-space: nowrap; */
  padding: 10px;
  /*
  background-image: linear-gradient(to right, #032538, #031b29 50%, #020b10);
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

