body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
    font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C5CBE3;
}



body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  /*
  background-image: linear-gradient(to right, #032538, #031b29 50%, #020b10);
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  */
}
.stars .container {
  position: absolute;
  animation: stars linear infinite;
}
.stars .container .star {
  animation: twinkle linear infinite;
  border-radius: 100%;
  transform: translateZ(0);
}
.stars .container:nth-child(0) {
  width: 3px;
  height: 3px;
  left: 85.5vw;
  animation-delay: -998.0666666666667s;
  animation-duration: 74.13333333333334s;
}
.stars .container:nth-child(0) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.7s;
  animation-duration: 42.8s;
  background: rgba(209,156,160,0.9);
}
.stars .container:nth-child(1) {
  width: 2px;
  height: 2px;
  left: 71.5vw;
  animation-delay: -990.8s;
  animation-duration: 169.1s;
}
.stars .container:nth-child(1) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.5s;
  animation-duration: 48.3s;
  background: rgba(240,204,174,0.9);
}
.stars .container:nth-child(2) {
  width: 3px;
  height: 3px;
  left: 41.5vw;
  animation-delay: -996.8666666666667s;
  animation-duration: 87.93333333333334s;
}
.stars .container:nth-child(2) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.2s;
  animation-duration: 15.4s;
  background: rgba(225,253,154,0.9);
}
.stars .container:nth-child(3) {
  width: 2px;
  height: 2px;
  left: 39vw;
  animation-delay: -991.5s;
  animation-duration: 153.5s;
}
.stars .container:nth-child(3) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.3s;
  animation-duration: 38.9s;
  background: rgba(223,241,171,0.8);
}
.stars .container:nth-child(4) {
  width: 2px;
  height: 2px;
  left: 1.5vw;
  animation-delay: -990.7s;
  animation-duration: 184.6s;
}
.stars .container:nth-child(4) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.4s;
  animation-duration: 8.6s;
  background: rgba(207,183,115,0.7);
}
.stars .container:nth-child(5) {
  width: 3px;
  height: 3px;
  left: 89.5vw;
  animation-delay: -996.9333333333333s;
  animation-duration: 59.53333333333333s;
}
.stars .container:nth-child(5) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 32.8s;
  background: rgba(252,252,173,0.8);
}
.stars .container:nth-child(6) {
  width: 3px;
  height: 3px;
  left: 45vw;
  animation-delay: -996.5333333333333s;
  animation-duration: 88.93333333333334s;
}
.stars .container:nth-child(6) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 42.1s;
  background: rgba(216,162,183,0.7);
}
.stars .container:nth-child(7) {
  width: 2px;
  height: 2px;
  left: 86.5vw;
  animation-delay: -994s;
  animation-duration: 33.6s;
}
.stars .container:nth-child(7) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 44.3s;
  background: rgba(218,252,173,0.7);
}
.stars .container:nth-child(8) {
  width: 2px;
  height: 2px;
  left: 64vw;
  animation-delay: -999.3s;
  animation-duration: 57.1s;
}
.stars .container:nth-child(8) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46s;
  animation-duration: 30.7s;
  background: rgba(221,177,103,0.7);
}
.stars .container:nth-child(9) {
  width: 1px;
  height: 1px;
  left: 67vw;
  animation-delay: -990.4s;
  animation-duration: 199.4s;
}
.stars .container:nth-child(9) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 29.7s;
  background: rgba(234,215,109,0.8);
}
.stars .container:nth-child(10) {
  width: 2px;
  height: 2px;
  left: 41.5vw;
  animation-delay: -999s;
  animation-duration: 60.9s;
}
.stars .container:nth-child(10) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45s;
  animation-duration: 14.4s;
  background: rgba(247,250,173,0.8);
}
.stars .container:nth-child(11) {
  width: 1px;
  height: 1px;
  left: 38vw;
  animation-delay: -987.8s;
  animation-duration: 269.8s;
}
.stars .container:nth-child(11) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 34.5s;
  background: rgba(219,244,139,0.7);
}
.stars .container:nth-child(12) {
  width: 1px;
  height: 1px;
  left: 88.5vw;
  animation-delay: -985.4s;
  animation-duration: 52.6s;
}
.stars .container:nth-child(12) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.2s;
  animation-duration: 28.5s;
  background: rgba(237,254,208,0.9);
}
.stars .container:nth-child(13) {
  width: 3px;
  height: 3px;
  left: 84.5vw;
  animation-delay: -999.2s;
  animation-duration: 121.13333333333333s;
}
.stars .container:nth-child(13) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.3s;
  animation-duration: 48s;
  background: #dd9694;
}
.stars .container:nth-child(14) {
  width: 1px;
  height: 1px;
  left: 97.5vw;
  animation-delay: -992.8s;
  animation-duration: 223.6s;
}
.stars .container:nth-child(14) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 38.8s;
  background: #d5dced;
}
.stars .container:nth-child(15) {
  width: 2px;
  height: 2px;
  left: 72vw;
  animation-delay: -999.6s;
  animation-duration: 156.6s;
}
.stars .container:nth-child(15) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.9s;
  animation-duration: 44.1s;
  background: rgba(231,236,227,0.9);
}
.stars .container:nth-child(16) {
  width: 3px;
  height: 3px;
  left: 7.5vw;
  animation-delay: -994.6s;
  animation-duration: 40.4s;
}
.stars .container:nth-child(16) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.1s;
  animation-duration: 33.9s;
  background: rgba(210,206,182,0.7);
}
.stars .container:nth-child(17) {
  width: 1px;
  height: 1px;
  left: 69.5vw;
  animation-delay: -996.4s;
  animation-duration: 205.4s;
}
.stars .container:nth-child(17) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 13.4s;
  background: rgba(229,227,172,0.7);
}
.stars .container:nth-child(18) {
  width: 2px;
  height: 2px;
  left: 89.5vw;
  animation-delay: -995.4s;
  animation-duration: 119.4s;
}
.stars .container:nth-child(18) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 31.2s;
  background: rgba(235,189,220,0.7);
}
.stars .container:nth-child(19) {
  width: 1px;
  height: 1px;
  left: 76vw;
  animation-delay: -998s;
  animation-duration: 81.8s;
}
.stars .container:nth-child(19) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.9s;
  animation-duration: 32.8s;
  background: #daf0a7;
}
.stars .container:nth-child(20) {
  width: 1px;
  height: 1px;
  left: 39vw;
  animation-delay: -991.6s;
  animation-duration: 134s;
}
.stars .container:nth-child(20) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 47.5s;
  background: #e49f7b;
}
.stars .container:nth-child(21) {
  width: 2px;
  height: 2px;
  left: 23vw;
  animation-delay: -995.2s;
  animation-duration: 157.7s;
}
.stars .container:nth-child(21) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 47.7s;
  background: rgba(229,157,255,0.7);
}
.stars .container:nth-child(22) {
  width: 2px;
  height: 2px;
  left: 21.5vw;
  animation-delay: -993.8s;
  animation-duration: 34.9s;
}
.stars .container:nth-child(22) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 25.3s;
  background: rgba(211,178,216,0.9);
}
.stars .container:nth-child(23) {
  width: 2px;
  height: 2px;
  left: 55vw;
  animation-delay: -990s;
  animation-duration: 179.2s;
}
.stars .container:nth-child(23) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 37.3s;
  background: rgba(216,219,175,0.8);
}
.stars .container:nth-child(24) {
  width: 2px;
  height: 2px;
  left: 12vw;
  animation-delay: -995.7s;
  animation-duration: 185.8s;
}
.stars .container:nth-child(24) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 9.7s;
  background: #f1b26a;
}
.stars .container:nth-child(25) {
  width: 3px;
  height: 3px;
  left: 99vw;
  animation-delay: -998.0666666666667s;
  animation-duration: 83.60000000000001s;
}
.stars .container:nth-child(25) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.3s;
  animation-duration: 41.8s;
  background: rgba(230,207,204,0.7);
}
.stars .container:nth-child(26) {
  width: 1px;
  height: 1px;
  left: 91.5vw;
  animation-delay: -990.2s;
  animation-duration: 94.6s;
}
.stars .container:nth-child(26) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.5s;
  animation-duration: 8.3s;
  background: rgba(202,236,143,0.9);
}
.stars .container:nth-child(27) {
  width: 1px;
  height: 1px;
  left: 0.5vw;
  animation-delay: -994s;
  animation-duration: 119.2s;
}
.stars .container:nth-child(27) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.7s;
  animation-duration: 37s;
  background: rgba(217,198,106,0.9);
}
.stars .container:nth-child(28) {
  width: 1px;
  height: 1px;
  left: 74.5vw;
  animation-delay: -990s;
  animation-duration: 275.2s;
}
.stars .container:nth-child(28) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.1s;
  animation-duration: 14.4s;
  background: rgba(252,160,108,0.7);
}
.stars .container:nth-child(29) {
  width: 3px;
  height: 3px;
  left: 85vw;
  animation-delay: -993.6666666666666s;
  animation-duration: 128.46666666666667s;
}
.stars .container:nth-child(29) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.9s;
  animation-duration: 28.3s;
  background: rgba(247,247,207,0.7);
}
.stars .container:nth-child(30) {
  width: 3px;
  height: 3px;
  left: 8vw;
  animation-delay: -999.6s;
  animation-duration: 36.733333333333334s;
}
.stars .container:nth-child(30) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 23.6s;
  background: #e7e7d7;
}
.stars .container:nth-child(31) {
  width: 2px;
  height: 2px;
  left: 91vw;
  animation-delay: -995.2s;
  animation-duration: 80.7s;
}
.stars .container:nth-child(31) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.5s;
  animation-duration: 42.5s;
  background: rgba(229,234,206,0.9);
}
.stars .container:nth-child(32) {
  width: 3px;
  height: 3px;
  left: 48vw;
  animation-delay: -996.5333333333333s;
  animation-duration: 80.93333333333334s;
}
.stars .container:nth-child(32) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 34.5s;
  background: rgba(202,220,226,0.7);
}
.stars .container:nth-child(33) {
  width: 2px;
  height: 2px;
  left: 82vw;
  animation-delay: -993.4s;
  animation-duration: 52s;
}
.stars .container:nth-child(33) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 11.2s;
  background: #d4fbbf;
}
.stars .container:nth-child(34) {
  width: 2px;
  height: 2px;
  left: 30.5vw;
  animation-delay: -992.1s;
  animation-duration: 110.9s;
}
.stars .container:nth-child(34) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 49.4s;
  background: rgba(249,198,100,0.9);
}
.stars .container:nth-child(35) {
  width: 1px;
  height: 1px;
  left: 47.5vw;
  animation-delay: -989.2s;
  animation-duration: 88.8s;
}
.stars .container:nth-child(35) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 36.8s;
  background: #ce9767;
}
.stars .container:nth-child(36) {
  width: 3px;
  height: 3px;
  left: 97vw;
  animation-delay: -993.4666666666667s;
  animation-duration: 72.46666666666667s;
}
.stars .container:nth-child(36) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 44.4s;
  background: rgba(230,213,139,0.8);
}
.stars .container:nth-child(37) {
  width: 2px;
  height: 2px;
  left: 47vw;
  animation-delay: -999.8s;
  animation-duration: 158.3s;
}
.stars .container:nth-child(37) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.6s;
  animation-duration: 37.2s;
  background: rgba(202,235,254,0.8);
}
.stars .container:nth-child(38) {
  width: 3px;
  height: 3px;
  left: 79vw;
  animation-delay: -996.1333333333333s;
  animation-duration: 25.46666666666667s;
}
.stars .container:nth-child(38) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.1s;
  animation-duration: 22s;
  background: #ccd5b8;
}
.stars .container:nth-child(39) {
  width: 1px;
  height: 1px;
  left: 56vw;
  animation-delay: -986s;
  animation-duration: 344s;
}
.stars .container:nth-child(39) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 32.7s;
  background: rgba(213,254,105,0.8);
}
.stars .container:nth-child(40) {
  width: 3px;
  height: 3px;
  left: 41.5vw;
  animation-delay: -996.0666666666667s;
  animation-duration: 33.86666666666667s;
}
.stars .container:nth-child(40) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 42.1s;
  background: rgba(202,175,205,0.8);
}
.stars .container:nth-child(41) {
  width: 1px;
  height: 1px;
  left: 27.5vw;
  animation-delay: -986s;
  animation-duration: 393.8s;
}
.stars .container:nth-child(41) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 39.9s;
  background: rgba(228,183,215,0.7);
}
.stars .container:nth-child(42) {
  width: 1px;
  height: 1px;
  left: 99vw;
  animation-delay: -995.8s;
  animation-duration: 257.8s;
}
.stars .container:nth-child(42) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.3s;
  animation-duration: 9.5s;
  background: #d6b287;
}
.stars .container:nth-child(43) {
  width: 2px;
  height: 2px;
  left: 31.5vw;
  animation-delay: -995.1s;
  animation-duration: 117.3s;
}
.stars .container:nth-child(43) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 10.5s;
  background: rgba(203,160,200,0.9);
}
.stars .container:nth-child(44) {
  width: 3px;
  height: 3px;
  left: 42.5vw;
  animation-delay: -996.2666666666667s;
  animation-duration: 79.2s;
}
.stars .container:nth-child(44) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 46.8s;
  background: #f4ced3;
}
.stars .container:nth-child(45) {
  width: 2px;
  height: 2px;
  left: 1.5vw;
  animation-delay: -996.4s;
  animation-duration: 189.3s;
}
.stars .container:nth-child(45) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.9s;
  animation-duration: 40.9s;
  background: rgba(204,154,114,0.7);
}
.stars .container:nth-child(46) {
  width: 1px;
  height: 1px;
  left: 2vw;
  animation-delay: -982.6s;
  animation-duration: 249.6s;
}
.stars .container:nth-child(46) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 40.4s;
  background: rgba(255,254,199,0.7);
}
.stars .container:nth-child(47) {
  width: 1px;
  height: 1px;
  left: 85.5vw;
  animation-delay: -984.6s;
  animation-duration: 144s;
}
.stars .container:nth-child(47) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 21.8s;
  background: rgba(236,176,244,0.9);
}
.stars .container:nth-child(48) {
  width: 3px;
  height: 3px;
  left: 13vw;
  animation-delay: -997.9333333333333s;
  animation-duration: 117.53333333333335s;
}
.stars .container:nth-child(48) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.2s;
  animation-duration: 44.5s;
  background: rgba(229,188,196,0.9);
}
.stars .container:nth-child(49) {
  width: 1px;
  height: 1px;
  left: 4vw;
  animation-delay: -984s;
  animation-duration: 56.8s;
}
.stars .container:nth-child(49) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.6s;
  animation-duration: 29.7s;
  background: rgba(235,230,154,0.8);
}
.stars .container:nth-child(50) {
  width: 2px;
  height: 2px;
  left: 3vw;
  animation-delay: -991.6s;
  animation-duration: 162.6s;
}
.stars .container:nth-child(50) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 43.2s;
  background: rgba(233,196,235,0.9);
}
.stars .container:nth-child(51) {
  width: 3px;
  height: 3px;
  left: 31.5vw;
  animation-delay: -999.4666666666667s;
  animation-duration: 49.06666666666666s;
}
.stars .container:nth-child(51) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 9.8s;
  background: rgba(246,188,197,0.7);
}
.stars .container:nth-child(52) {
  width: 2px;
  height: 2px;
  left: 61.5vw;
  animation-delay: -992.3s;
  animation-duration: 197.2s;
}
.stars .container:nth-child(52) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 20.3s;
  background: #e3f19f;
}
.stars .container:nth-child(53) {
  width: 1px;
  height: 1px;
  left: 50vw;
  animation-delay: -980.8s;
  animation-duration: 58.2s;
}
.stars .container:nth-child(53) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.6s;
  animation-duration: 5.7s;
  background: rgba(254,197,209,0.8);
}
.stars .container:nth-child(54) {
  width: 3px;
  height: 3px;
  left: 20vw;
  animation-delay: -996.2666666666667s;
  animation-duration: 121.93333333333334s;
}
.stars .container:nth-child(54) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.5s;
  animation-duration: 45.1s;
  background: rgba(239,195,164,0.7);
}
.stars .container:nth-child(55) {
  width: 2px;
  height: 2px;
  left: 68vw;
  animation-delay: -998.9s;
  animation-duration: 69.4s;
}
.stars .container:nth-child(55) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 38s;
  background: #f1bfd1;
}
.stars .container:nth-child(56) {
  width: 3px;
  height: 3px;
  left: 21.5vw;
  animation-delay: -998.4s;
  animation-duration: 76.26666666666667s;
}
.stars .container:nth-child(56) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 12.5s;
  background: rgba(231,214,157,0.7);
}
.stars .container:nth-child(57) {
  width: 1px;
  height: 1px;
  left: 94vw;
  animation-delay: -990.8s;
  animation-duration: 321.8s;
}
.stars .container:nth-child(57) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.6s;
  animation-duration: 18.5s;
  background: rgba(222,226,180,0.7);
}
.stars .container:nth-child(58) {
  width: 3px;
  height: 3px;
  left: 51vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 70.2s;
}
.stars .container:nth-child(58) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 6.1s;
  background: #f1ef9e;
}
.stars .container:nth-child(59) {
  width: 2px;
  height: 2px;
  left: 33vw;
  animation-delay: -995.9s;
  animation-duration: 153.3s;
}
.stars .container:nth-child(59) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 8.3s;
  background: #ed9ad3;
}
.stars .container:nth-child(60) {
  width: 1px;
  height: 1px;
  left: 97vw;
  animation-delay: -989.4s;
  animation-duration: 317.8s;
}
.stars .container:nth-child(60) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.3s;
  animation-duration: 15.1s;
  background: rgba(252,153,155,0.9);
}
.stars .container:nth-child(61) {
  width: 1px;
  height: 1px;
  left: 53vw;
  animation-delay: -989.8s;
  animation-duration: 229.2s;
}
.stars .container:nth-child(61) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 27.5s;
  background: rgba(224,208,166,0.9);
}
.stars .container:nth-child(62) {
  width: 2px;
  height: 2px;
  left: 18.5vw;
  animation-delay: -990.7s;
  animation-duration: 172.4s;
}
.stars .container:nth-child(62) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.3s;
  animation-duration: 32.3s;
  background: rgba(215,170,253,0.9);
}
.stars .container:nth-child(63) {
  width: 3px;
  height: 3px;
  left: 58vw;
  animation-delay: -996.1333333333333s;
  animation-duration: 70.66666666666667s;
}
.stars .container:nth-child(63) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.8s;
  animation-duration: 9.2s;
  background: rgba(242,230,116,0.7);
}
.stars .container:nth-child(64) {
  width: 2px;
  height: 2px;
  left: 73.5vw;
  animation-delay: -990.6s;
  animation-duration: 82.6s;
}
.stars .container:nth-child(64) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 10.3s;
  background: #dbe76f;
}
.stars .container:nth-child(65) {
  width: 1px;
  height: 1px;
  left: 41vw;
  animation-delay: -992.2s;
  animation-duration: 270.8s;
}
.stars .container:nth-child(65) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 13.6s;
  background: rgba(240,182,167,0.7);
}
.stars .container:nth-child(66) {
  width: 3px;
  height: 3px;
  left: 50.5vw;
  animation-delay: -996.0666666666667s;
  animation-duration: 97.06666666666666s;
}
.stars .container:nth-child(66) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 48.7s;
  background: rgba(254,197,159,0.7);
}
.stars .container:nth-child(67) {
  width: 2px;
  height: 2px;
  left: 96.5vw;
  animation-delay: -999.2s;
  animation-duration: 150.3s;
}
.stars .container:nth-child(67) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.8s;
  animation-duration: 11.9s;
  background: rgba(216,159,205,0.8);
}
.stars .container:nth-child(68) {
  width: 1px;
  height: 1px;
  left: 56vw;
  animation-delay: -997.8s;
  animation-duration: 277s;
}
.stars .container:nth-child(68) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 35.9s;
  background: rgba(235,250,132,0.9);
}
.stars .container:nth-child(69) {
  width: 2px;
  height: 2px;
  left: 0.5vw;
  animation-delay: -995s;
  animation-duration: 76.7s;
}
.stars .container:nth-child(69) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.9s;
  animation-duration: 41.8s;
  background: #d4b78a;
}
.stars .container:nth-child(70) {
  width: 1px;
  height: 1px;
  left: 50.5vw;
  animation-delay: -983.8s;
  animation-duration: 309s;
}
.stars .container:nth-child(70) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 36.1s;
  background: rgba(250,220,203,0.7);
}
.stars .container:nth-child(71) {
  width: 3px;
  height: 3px;
  left: 83vw;
  animation-delay: -996.6s;
  animation-duration: 27.333333333333332s;
}
.stars .container:nth-child(71) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46s;
  animation-duration: 19.5s;
  background: rgba(216,244,102,0.7);
}
.stars .container:nth-child(72) {
  width: 3px;
  height: 3px;
  left: 26.5vw;
  animation-delay: -996s;
  animation-duration: 41.733333333333334s;
}
.stars .container:nth-child(72) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.6s;
  animation-duration: 29.8s;
  background: rgba(230,232,118,0.9);
}
.stars .container:nth-child(73) {
  width: 3px;
  height: 3px;
  left: 90.5vw;
  animation-delay: -993.7333333333333s;
  animation-duration: 110.06666666666666s;
}
.stars .container:nth-child(73) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 8.6s;
  background: rgba(240,160,163,0.7);
}
.stars .container:nth-child(74) {
  width: 3px;
  height: 3px;
  left: 29vw;
  animation-delay: -994.6s;
  animation-duration: 92.26666666666667s;
}
.stars .container:nth-child(74) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.3s;
  animation-duration: 43.7s;
  background: rgba(239,224,156,0.8);
}
.stars .container:nth-child(75) {
  width: 3px;
  height: 3px;
  left: 5vw;
  animation-delay: -998.0666666666667s;
  animation-duration: 91.33333333333333s;
}
.stars .container:nth-child(75) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 40.9s;
  background: #e0bbbc;
}
.stars .container:nth-child(76) {
  width: 3px;
  height: 3px;
  left: 51vw;
  animation-delay: -996.6s;
  animation-duration: 61.333333333333336s;
}
.stars .container:nth-child(76) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.1s;
  animation-duration: 43.3s;
  background: rgba(248,254,104,0.7);
}
.stars .container:nth-child(77) {
  width: 3px;
  height: 3px;
  left: 97vw;
  animation-delay: -994.8666666666667s;
  animation-duration: 31.53333333333333s;
}
.stars .container:nth-child(77) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 15.1s;
  background: rgba(230,180,138,0.9);
}
.stars .container:nth-child(78) {
  width: 2px;
  height: 2px;
  left: 49.5vw;
  animation-delay: -997.2s;
  animation-duration: 171.4s;
}
.stars .container:nth-child(78) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 38.2s;
  background: #d5fb71;
}
.stars .container:nth-child(79) {
  width: 1px;
  height: 1px;
  left: 79.5vw;
  animation-delay: -988s;
  animation-duration: 66s;
}
.stars .container:nth-child(79) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.4s;
  animation-duration: 42.5s;
  background: rgba(209,157,110,0.8);
}
.stars .container:nth-child(80) {
  width: 3px;
  height: 3px;
  left: 30.5vw;
  animation-delay: -994.2666666666667s;
  animation-duration: 14.066666666666668s;
}
.stars .container:nth-child(80) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 12s;
  background: rgba(208,150,105,0.8);
}
.stars .container:nth-child(81) {
  width: 2px;
  height: 2px;
  left: 63vw;
  animation-delay: -994.6s;
  animation-duration: 198.5s;
}
.stars .container:nth-child(81) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 23.6s;
  background: rgba(226,190,247,0.9);
}
.stars .container:nth-child(82) {
  width: 3px;
  height: 3px;
  left: 44vw;
  animation-delay: -997.0666666666667s;
  animation-duration: 40.06666666666667s;
}
.stars .container:nth-child(82) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 15.9s;
  background: #d6aafd;
}
.stars .container:nth-child(83) {
  width: 1px;
  height: 1px;
  left: 96.5vw;
  animation-delay: -996.6s;
  animation-duration: 253.8s;
}
.stars .container:nth-child(83) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.7s;
  animation-duration: 6.2s;
  background: rgba(251,253,123,0.7);
}
.stars .container:nth-child(84) {
  width: 2px;
  height: 2px;
  left: 68.5vw;
  animation-delay: -995.5s;
  animation-duration: 164.4s;
}
.stars .container:nth-child(84) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 13.3s;
  background: #fdc39c;
}
.stars .container:nth-child(85) {
  width: 1px;
  height: 1px;
  left: 36.5vw;
  animation-delay: -980.2s;
  animation-duration: 90.6s;
}
.stars .container:nth-child(85) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 35.6s;
  background: rgba(200,214,174,0.8);
}
.stars .container:nth-child(86) {
  width: 3px;
  height: 3px;
  left: 12vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 132.6s;
}
.stars .container:nth-child(86) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.5s;
  animation-duration: 9.9s;
  background: rgba(244,251,107,0.9);
}
.stars .container:nth-child(87) {
  width: 1px;
  height: 1px;
  left: 1vw;
  animation-delay: -989.6s;
  animation-duration: 341.2s;
}
.stars .container:nth-child(87) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45s;
  animation-duration: 29.3s;
  background: rgba(224,196,136,0.7);
}
.stars .container:nth-child(88) {
  width: 1px;
  height: 1px;
  left: 54.5vw;
  animation-delay: -986s;
  animation-duration: 284.6s;
}
.stars .container:nth-child(88) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.5s;
  animation-duration: 43.5s;
  background: rgba(245,156,158,0.8);
}
.stars .container:nth-child(89) {
  width: 3px;
  height: 3px;
  left: 83.5vw;
  animation-delay: -998.8s;
  animation-duration: 45s;
}
.stars .container:nth-child(89) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.1s;
  animation-duration: 47.7s;
  background: #e9cad5;
}
.stars .container:nth-child(90) {
  width: 3px;
  height: 3px;
  left: 65vw;
  animation-delay: -996.2666666666667s;
  animation-duration: 15.066666666666668s;
}
.stars .container:nth-child(90) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 43.9s;
  background: rgba(240,174,238,0.9);
}
.stars .container:nth-child(91) {
  width: 3px;
  height: 3px;
  left: 10vw;
  animation-delay: -999.6666666666666s;
  animation-duration: 132.79999999999998s;
}
.stars .container:nth-child(91) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.4s;
  animation-duration: 15.4s;
  background: rgba(255,229,163,0.8);
}
.stars .container:nth-child(92) {
  width: 2px;
  height: 2px;
  left: 37vw;
  animation-delay: -998.1s;
  animation-duration: 42.7s;
}
.stars .container:nth-child(92) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 21.4s;
  background: rgba(202,154,236,0.9);
}
.stars .container:nth-child(93) {
  width: 1px;
  height: 1px;
  left: 64vw;
  animation-delay: -985.8s;
  animation-duration: 41.4s;
}
.stars .container:nth-child(93) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 14.7s;
  background: #e6c06f;
}
.stars .container:nth-child(94) {
  width: 2px;
  height: 2px;
  left: 75vw;
  animation-delay: -998.9s;
  animation-duration: 124.3s;
}
.stars .container:nth-child(94) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.7s;
  animation-duration: 49.7s;
  background: rgba(245,213,236,0.7);
}
.stars .container:nth-child(95) {
  width: 1px;
  height: 1px;
  left: 81.5vw;
  animation-delay: -981.2s;
  animation-duration: 152.4s;
}
.stars .container:nth-child(95) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 43.2s;
  background: rgba(242,175,106,0.8);
}
.stars .container:nth-child(96) {
  width: 3px;
  height: 3px;
  left: 44vw;
  animation-delay: -998.1333333333333s;
  animation-duration: 39.93333333333333s;
}
.stars .container:nth-child(96) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 12.7s;
  background: rgba(200,255,182,0.7);
}
.stars .container:nth-child(97) {
  width: 1px;
  height: 1px;
  left: 34vw;
  animation-delay: -981.4s;
  animation-duration: 169.4s;
}
.stars .container:nth-child(97) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 5.3s;
  background: rgba(205,243,129,0.8);
}
.stars .container:nth-child(98) {
  width: 2px;
  height: 2px;
  left: 45vw;
  animation-delay: -999s;
  animation-duration: 167.3s;
}
.stars .container:nth-child(98) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.5s;
  animation-duration: 43s;
  background: rgba(232,203,222,0.8);
}
.stars .container:nth-child(99) {
  width: 3px;
  height: 3px;
  left: 94vw;
  animation-delay: -997.7333333333333s;
  animation-duration: 58.6s;
}
.stars .container:nth-child(99) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 31.8s;
  background: rgba(249,161,156,0.7);
}
.stars .container:nth-child(100) {
  width: 1px;
  height: 1px;
  left: 1vw;
  animation-delay: -990.4s;
  animation-duration: 258.4s;
}
.stars .container:nth-child(100) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.3s;
  animation-duration: 30.9s;
  background: rgba(254,158,202,0.9);
}
@-moz-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-webkit-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-o-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-moz-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-webkit-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-o-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

